# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj  
*.log  
*.tlog
*.lastbuildstate

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app   

# Debug Files  
*.pdb

# Extra Files   by wujiyang
images/ 
models/
includes/
*.zip

# vs files  
*.sdf
